
#navbar1{
    background-color: #4c4947;
    margin-bottom: 0;
    border-radius: 0;
}
@media (min-width: 200px) and (max-width: 767.98px) { 
#navbar1{
    min-height:100px;
    background-color: #4c4947;
}
}

@media (min-width: 100px) and (max-width: 668px) { 
.btn-default{
    min-height:50px;
    background-color: #4c4947;
    box-align: center !important;
    padding-left: 25px !important;
    font-size: 12px !important;

}
}

@media (min-width: 50px) and (max-width: 250.98px) { 
#navbar1{
    min-height:25px;
    background-color: #4c4947;

}
}


#t2{
    background-color:#6ead3a;
}

@media (min-width: 20px) and (max-width: 100.98px) { 
#t2{
    min-height:10px;
    background-color: #6ead3a;
}
}

#t2{
    background-color:#6ead3a;
}
@media (min-width: 200px) and (max-width: 767.98px) { 
#t2{
    min-height:100px;
    background-color: #6ead3a;
}
}

@media (min-width: 100px) and (max-width: 500.98px) { 
#t2{
    min-height:50px;
    background-color: #6ead3a;
}
}

@media (min-width: 50px) and (max-width: 250.98px) { 
#t2{
    min-height:25px;
    background-color: #6ead3a;

}
}


@media (min-width: 20px) and (max-width: 100.98px) { 
#t2{
    min-height:10px;
    background-color: #6ead3a;
}
}

#t3{
    background-color:#6ead3a;
    font-size: 20px;
}
@media (min-width: 200px) and (max-width: 767.98px) { 
#t3{
    min-height:100px;
    background-color: #6ead3a;
}
}

@media (min-width: 100px) and (max-width: 500.98px) { 
#t3{
    min-height:50px;
    background-color: #6ead3a;
}
}

@media (min-width: 50px) and (max-width: 250.98px) { 
#t3{
    min-height:25px;
    background-color: #6ead3a;

}
}

@media (min-width: 20px) and (max-width: 100.98px) { 
#t3{
    min-height:10px;
    background-color:#6ead3a;
}
}

#CC {
    background-color: white;
    margin: 0px;
}

/* card created table */
#cardCr {
    background-color: white;
}

#foot{
    background-color: #4c4947;
    margin-top: 5%;
    font-size: 20px;
    color: white;
}
@media (min-width: 200px) and (max-width: 767.98px) { 
    #foot{
        min-height:100px;
        background-color: #4c4947;
        margin-top: -3%;
    }
    }
    
    @media (min-width: 100px) and (max-width: 500.98px) { 
    #foot{
        min-height:50px;
        background-color: #4c4947;
        margin-top: -4%;
    }
    }
    
    @media (min-width: 50px) and (max-width: 250.98px) { 
    #foot{
        min-height:25px;
        background-color: #4c4947;
        margin-top: -5%;

    }
    }
    
    
    @media (min-width: 20px) and (max-width: 100.98px) { 
    #foot{
        min-height:10px;
        background-color: #4c4947;
        margin-top: -6%;

    }
    }

/* card image */
.responsive {
    width: 100%;
    height: auto;
  }
  /* logo image */
.res {
    width: 10%;
    height: auto;
  }

  /* all buttons */
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: black;
    font-size: 20px;
    border-width: 2px;
}


.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 2%;
}

#nL {
    background-color: #6ead3a;
}

#hT {
    background-color: #6ead3a
}

/* new letter styling */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: whitesmoke;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}